<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Home Page</title>
</head>

<body>
    <h1 class="heading1">Quora Post</h1>

    <a href="/posts/add">
        <button>Add Posts</button>
    </a>
    <% for(post of posts){%>
        <div class="container">
            <h2>
                <%= post.name %>
            </h2>
            <i>
                <%= post.post %>
            </i>
            <a href="/posts/<%=post.id%>">
                <button>Show Details</button>
            </a>
            <br>
            <a href="/posts/<%=post.id%>/edit">
                <button>Edit</button>
            </a>
            <form method="post" action="/posts/<%=post.id%>?_method=DELETE">
                <button>Delete</button>
            </form>
        </div>
        <%}%>
</body>

</html>