<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Quora Post</h1>
    <div class="container">
        <%for(let post of posts){%>
            <h3>@<%=post.username%>
            </h3>
            <p>
                <%=post.content%>
            </p>
            <br>
            <a href="http://localhost:8080/posts/<%=post.id%>">see this detail</a>&nbsp;&nbsp;
            <a href="http://localhost:8080/posts/<%=post.id%>/edit">edit post</a>
            <form method="post" action="/posts/<%=post.id%>?_method=DELETE">
                <button>Delete Post</button>

            </form>
            <% }%>
    </div>

    <br>
    <br>
    <a href="http://localhost:8080/posts/new">Create new Post</a>
</body>

</html>